<!DOCTYPE html>
<html>
<head>
	<title>{%block title%} Base Url{%endblock title%}</title>
</head>
<body>
<div class='container'>
{%if messages%}
{%for message in messages%}
<div class = 'alert 
alert-warning
alert-dismissible fade show' role = 'alert'>
{{message}}
<button type='button' class='btn-close' data-bs-dismiss= 'alert' aria-label = 'Close'></button>
</div>
{%endfor%}
{%endif%}</div>
<h2>Hi {{request.user.name|default:'Guest'}}, Welcome</h2>

{%block main%}
Main content goes here


{%endblock main%}
</body>
</html>