{%extends 'base.html'%}
{%block title%} {{levels}} {{semester}} Brief
{%endblock title%}
{%block main%}
<h2>Semester Summary</h2>
<form method='POST'>
	{%csrf_token%}
	<table>
		<th>Course Title</th>
		<th>Course Code</th>
		<th>Units</th>
		<th>Score</th>
		<th>Grade</th>
		<th>Status</th>
	{%for course in semester_registrations%}
	<tr>
		<td>{{course.course_score.courses.title}}</td>
		<td>{{course.course_score.courses.code}}</td>
		<td>{{course.course_score.courses.units}}</td>
		<td>{{course.total}}</td>
		<td>{{course.grade}}</td>
		<td>{{course.status}}</td>
	</tr>
{{coures}}
	{%endfor%}

</table>
<h3> Summary </h3>
<p> Current Semester GPA: {{GPA}}</p>
<p> CGPA: {{student.CGPA}}</p>

	<button type='submit'>Submit</button>


</form>
	
{%endblock main%}