{%extends 'base.html'%}
{%block title%} LOGIN Page
{%endblock title%}
{% block main%}
{% if form.errors %}
{{forms.errors}}
<!-- <p>Your username and password didn't match. Please try again.</p> -->
{% endif %}
{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}
<form method="post" action="{% url 'reg:login' %}">
{% csrf_token %}
<table>
<tr>
<td><label for='username' class='form.label' >Matriculation Number</label></td>
<td> <input type='text' name='username' id='username'> </td>
</tr>
<tr>
<tr>
<td><label for='password' class='form.label'>Password</label></td>
<td> <input type='password' name='password' id='p'> </td>
</tr>
</table>
{%if request.GET%}
<input type="hidden" name="next" value="{{ request.GET.next }}">
{%endif%}
<input type="submit" value="login">
</form>
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
<p> Don't have a Student account? Please <a href = '{%url "reg:signup"%}'>sign up</a> here</p>
{%endblock main%}